@import "reset.css";

:root {
    --color-primary: #32868c;
    --color-primary__dark: #256367;

    --background-color: #131313;
    --background-color__light: #1f1f1f;
}

body {
    background: var(--background-color);
    color: var(--color-primary);
}
